<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319866823641-3il4mmn5ddq8holeqn2jj02k839etemj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319866823641-3il4mmn5ddq8holeqn2jj02k839etemj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>319866823641-3b9quiqkjnim6lueefhu984v4t2ufpso.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHOa5TwnnycQV3lWycuQnHBVMJuPtfwbM</string>
	<key>GCM_SENDER_ID</key>
	<string>319866823641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.actionPlanner</string>
	<key>PROJECT_ID</key>
	<string>actionplanner-1f6f3</string>
	<key>STORAGE_BUCKET</key>
	<string>actionplanner-1f6f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319866823641:ios:713b8705abafec92106fc8</string>
</dict>
</plist>